body {
    height: 100vh;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	background: #fff url("Hydra.jpg") no-repeat center center;
	background-size: cover;
}

h2 {
    margin-bottom: 10px;
    font-size: 200%;
}

h3 {
    /*font-style: italic;*/    
}

a {
    text-decoration: none;
}

nav {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    background-color: black;
}

nav a {
    vertical-align: middle;
    margin-right: 20px;
    color: white;
}
			
#brand {
	position: absolute;
	right: 8%;
	top: 34%;
	font-family: arial, sans-serif;
	font-size: 300%;
	letter-spacing: 8px;
}
			
#dunk {
	color: red;
}
			
#fisher {
	color: blue;
}

#map, #listing-wrapper {
    height: calc(100vh - 40px);
    /*margin: 10px auto;*/
    padding: 20px;
    background-color: #ccc;
}

#listing-wrapper {
    height: auto;
}

#listing-wrapper li {
    float: left;
    width: calc(100% / 6);
    height: 260px;
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
    cursor: pointer;
}

#listing-wrapper .summary-wrapper {
    position: relative;
    height: 240px;
    padding: 10px; 
    background-color: rgba(0, 0, 0, 0.8);
}

#listing-wrapper .summary-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#listing-wrapper img {
    width: 200px;
}

#listing-wrapper h2 {
    height: 64px;
}

#listing-wrapper .flag {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 22px;
    height: 14px;
}

@media(max-width: 1200px) {
    #listing-wrapper li {
        width: calc(100% / 5);
    }
}

@media(max-width: 1000px) {
    #listing-wrapper li {
        width: calc(100% / 4);
    }
}

@media(max-width: 800px) {
    #listing-wrapper li {
        width: calc(100% / 3);
    }
}

@media(max-width: 600px) {
    #listing-wrapper li {
        width: calc(100% / 2);
    }
}

@media(max-width: 400px) {
    #listing-wrapper li {
        width: 100%;
    }
}