body {
    height: 100vh;
	background: #fff url("Hydra.jpg") no-repeat center center;
	background-size: cover;
}

nav {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    background-color: black;
}

nav a {
    vertical-align: middle;
    margin-right: 20px;
    color: white;
}
			
#brand {
	position: absolute;
	right: 8%;
	top: 34%;
	font-family: arial, sans-serif;
	font-size: 300%;
	letter-spacing: 8px;
}
			
#dunk {
	color: red;
}
			
#fisher {
	color: blue;
}

#map, #listing-wrapper {
    width: 90%;
    height: calc(100vh - 40px);
    margin: 0 auto;
    background-color: #ccc;
}

#listing-wrapper {
    height: auto;
}

#listing-wrapper img {
    width: 200px;
}