@model IPublishedContent
@{ 
    var home = Model.AncestorOrSelf<IPublishedContent>(1);
}
<nav>
    @if (Model.Id == home.Id)
    {
        <a href="/"><strong>Home</strong></a>
    }
    else
    {
        <a href="/">Home</a>
    }
    @foreach (var topLevelPage in home.Children<IPublishedContent>())
    {
        if (topLevelPage.Id == Model.Id)
        {
            <a href="@topLevelPage.Url"><strong>@topLevelPage.Name</strong></a>
        }
        else
        {
            <a href="@topLevelPage.Url">@topLevelPage.Name</a>
        }
    }
</nav>
