<?xml version="1.0"?>
<FileSystemProviders>
  
  <!-- Media -->
  <Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
    <Parameters>
      <add key="rootPath" value="C:\Users\Duncan\Source\personal-website\Website\Website\media\" />
      <add key="rootUrl" value="/media/" />
    </Parameters>
  </Provider>
   
</FileSystemProviders>
