@inherits UmbracoViewPage<Website.BL.DocumentTypes.Home>
@{
    Layout = "Master.cshtml";
}

<span id="brand">
	<span id="dunk">@Model.HeadingPart1</span><span id="fisher">@Model.HeadingPart2</span>@Model.HeadingPart3
</span>