@{
    Layout = "Master.cshtml";
}

<div id="filterOptions">
    @using (Ajax.BeginForm("Filter", "Listing", new AjaxOptions { UpdateTargetId = "listing-wrapper", LoadingElementId="loading-indicator", OnBegin= "clearResults();", OnSuccess="setupPopup();" }))
    {
        <label >Country of Origin:</label> 
        @Html.Action("CountryFilter", "Listing");
        <input id="filter" type="submit" value="Filter" />        
    }
</div>

<div id="searchOptions">
    @using (Ajax.BeginForm("Search", "Listing", new AjaxOptions { UpdateTargetId = "listing-wrapper", LoadingElementId = "loading-indicator", OnBegin = "clearResults();", OnSuccess = "setupPopup();" }))
    {
        <label>Search for:</label>
        <input id="searchTerm" name="searchTerm" type="text" />
        <input id="search" type="submit" value="Search" />
    }
</div>

<div id="loading-indicator" class="fa fa-spinner">
    Brewing. Please wait...
</div>

<div id="listing-wrapper" class="clearfix">
</div>

<div id="beer-detail-wrapper">
    <div>
        <div class="top">
            <a class="close">X</a>
            <h2 id="beer-name"></h2>
            <h3 id="beer-brewer"></h3>
        </div>
        <div class="main">
            <img id="beer-image" src="" alt="" />
            <p id="beer-review"></p>
            <table>
                <tbody>
                    <tr>
                        <th>Country</th>
                        <td><span id="beer-country"></span><img id="beer-country-flag" alt="" /></td>
                    </tr>
                    <tr>
                        <th>What</th>
                        <td id="beer-style"></td>
                    </tr>
                    @*<tr>
                        <th>Who</th>
                        <td id="beer-brewer"></td>
                    </tr>*@
                    <tr>
                        <th>How</th>
                        <td id="beer-type"></td>
                    </tr>
                    <tr>
                        <th>Where</th>
                        <td id="beer-source"></td>
                    </tr>
                    <tr>
                        <th>When</th>
                        <td id="beer-image-taken"></td>
                    </tr>
                    <tr>
                        <th>ABV</th>
                        <td><span id="beer-abv"></span>%</td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td id="beer-rating"></td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
</div>