@*@using System.Web.Mvc.Ajax;*@
@{
    Layout = "Master.cshtml";
}

@using (Ajax.BeginForm("ListBeers", "Listing", new AjaxOptions { UpdateTargetId = "listing-wrapper" }))
{
    <label style="padding-left: 10px">Country of Origin:</label> 
    @Html.Action("CountryFilter", "Listing");
    <input type="submit" value="Filter" />

    <div id="listing-wrapper" class="clearfix">
    </div>
}