<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Page ANY>
<!ATTLIST Page id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1083" key="26d89e99-551f-4651-bbf6-4c5ea70bf38c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-11-18T21:56:44" updateDate="2015-11-18T21:56:44" nodeName="Home" urlName="home" path="-1,1083" isDoc="" nodeType="1082" creatorName="Duncan Fisher" writerName="Duncan Fisher" writerID="0" template="1056" nodeTypeAlias="Home">
    <headingPart1><![CDATA[drunk]]></headingPart1>
    <headingPart2><![CDATA[an]]></headingPart2>
    <headingPart3><![CDATA[.com]]></headingPart3>
  </Home>
</root>