<?xml version="1.0" encoding="utf-16"?>
<!DOCTYPE root [<!ELEMENT CountryFolder ANY>
<!ATTLIST CountryFolder id ID #REQUIRED>
 
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT Beer ANY>
<!ATTLIST Beer id ID #REQUIRED>
<!ELEMENT Faq ANY>
<!ATTLIST Faq id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Listing ANY>
<!ATTLIST Listing id ID #REQUIRED>
<!ELEMENT Map ANY>
<!ATTLIST Map id ID #REQUIRED>
<!ELEMENT Page ANY>
<!ATTLIST Page id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1083" key="26d89e99-551f-4651-bbf6-4c5ea70bf38c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-11-18T21:56:44" updateDate="2015-11-23T21:47:35" nodeName="Home" urlName="home" path="-1,1083" isDoc="" nodeType="1082" creatorName="Duncan Fisher" writerName="Duncan Fisher" writerID="0" template="1056" nodeTypeAlias="Home">
    <pageTitle><![CDATA[Beer Reviews, Map & More! | drunkan.com]]></pageTitle>
    <headingPart1><![CDATA[drunk]]></headingPart1>
    <headingPart2><![CDATA[an]]></headingPart2>
    <headingPart3><![CDATA[.com]]></headingPart3>
    <Listing id="1089" key="c6238320-54d3-4c13-b502-70f70afde6b5" parentID="1083" level="2" creatorID="0" sortOrder="1" createDate="2015-11-22T22:14:10" updateDate="2015-11-23T21:48:34" nodeName="Beer Reviews" urlName="beer-reviews" path="-1,1083,1089" isDoc="" nodeType="1087" creatorName="Duncan Fisher" writerName="Duncan Fisher" writerID="0" template="1086" nodeTypeAlias="Listing">
      <pageTitle><![CDATA[Beer Listing & Reviews | drunkan.com]]></pageTitle>
      <CountryFolder id="1100" key="38e7dde0-7b86-4b23-ad64-2e780d6904d6" parentID="1089" level="3" creatorID="0" sortOrder="1" createDate="2015-12-01T23:05:11" updateDate="2015-12-01T23:05:11" nodeName="France" urlName="france" path="-1,1083,1089,1100" isDoc="" nodeType="1099" creatorName="Duncan Fisher" writerName="Duncan Fisher" writerID="0" template="0" nodeTypeAlias="CountryFolder">
        <Beer id="1102" key="5f9bccf6-b12a-49dd-9f04-3eea0dcd472a" parentID="1100" level="4" creatorID="0" sortOrder="0" createDate="2015-12-01T23:07:07" updateDate="2015-12-01T23:23:22" nodeName="Akerbeltz Blanche" urlName="akerbeltz-blanche" path="-1,1083,1089,1100,1102" isDoc="" nodeType="1093" creatorName="Duncan Fisher" writerName="Duncan Fisher" writerID="0" template="0" nodeTypeAlias="Beer">
          <countryOfOrigin><![CDATA[France]]></countryOfOrigin>
          <image>1105</image>
          <brewer><![CDATA[Akerbeltz]]></brewer>
          <fullName><![CDATA[Akerbeltz Blanche]]></fullName>
          <rating><![CDATA[6]]></rating>
          <review><![CDATA[A pleasant amber beer with fresh artisanal taste. In cases such as this, artisanal equates to amateurly made but I enjoyed it; it was interesting.]]></review>
        </Beer>
        <Beer id="1103" key="39e0638e-0a1f-4b33-be2d-5119d05b5f56" parentID="1100" level="4" creatorID="0" sortOrder="1" createDate="2015-12-01T23:07:47" updateDate="2015-12-01T23:17:13" nodeName="Apocalypse Now" urlName="apocalypse-now" path="-1,1083,1089,1100,1103" isDoc="" nodeType="1093" creatorName="Duncan Fisher" writerName="Duncan Fisher" writerID="0" template="0" nodeTypeAlias="Beer">
          <countryOfOrigin><![CDATA[France]]></countryOfOrigin>
          <image>1106</image>
          <brewer><![CDATA[Saint Crucienne]]></brewer>
          <fullName><![CDATA[Apocalypse Now]]></fullName>
          <rating><![CDATA[7]]></rating>
          <review><![CDATA[Strong brown beer, with rich caramel flavour. There is a  lingering taste is bitter alcohol, but it's just knocking on the door of unpleasantness, without actually entering.

Overall a good, warming beer.]]></review>
        </Beer>
      </CountryFolder>
      <CountryFolder id="1101" key="85da8a6a-add9-4f47-9302-74f92733c01c" parentID="1089" level="3" creatorID="0" sortOrder="2" createDate="2015-12-01T23:05:24" updateDate="2015-12-01T23:05:24" nodeName="Netherlands" urlName="netherlands" path="-1,1083,1089,1101" isDoc="" nodeType="1099" creatorName="Duncan Fisher" writerName="Duncan Fisher" writerID="0" template="0" nodeTypeAlias="CountryFolder">
        <Beer id="1094" key="ef3c58de-c8a0-40b7-9535-ed9df2cd1121" parentID="1101" level="4" creatorID="0" sortOrder="1" createDate="2015-12-01T21:57:36" updateDate="2015-12-01T23:19:19" nodeName="Ball &amp; Chain" urlName="ball-chain" path="-1,1083,1089,1101,1094" isDoc="" nodeType="1093" creatorName="Duncan Fisher" writerName="Duncan Fisher" writerID="0" template="0" nodeTypeAlias="Beer">
          <countryOfOrigin><![CDATA[Netherlands]]></countryOfOrigin>
          <image>1098</image>
          <brewer><![CDATA[De Mollen]]></brewer>
          <fullName><![CDATA[Ball & Chain]]></fullName>
          <rating><![CDATA[7]]></rating>
          <review><![CDATA[Smoked "doppelbock" style dark beer. Probably not to everyone's taste, but I found it to have just the right degree of smokiness so as not to be overpowering. Balances well with the rest of the flavours, but it's the smokiness that dominates. 

Interesting & satisfying.]]></review>
        </Beer>
      </CountryFolder>
      <CountryFolder id="1107" key="598a79df-9458-4354-b038-4bfe2640601f" parentID="1089" level="3" creatorID="0" sortOrder="3" createDate="2015-12-01T23:29:50" updateDate="2015-12-01T23:29:50" nodeName="Scotland" urlName="scotland" path="-1,1083,1089,1107" isDoc="" nodeType="1099" creatorName="Duncan Fisher" writerName="Duncan Fisher" writerID="0" template="0" nodeTypeAlias="CountryFolder">
        <Beer id="1108" key="5e135656-709d-4d67-b7a4-89da63cc54ea" parentID="1107" level="4" creatorID="0" sortOrder="0" createDate="2015-12-01T23:34:24" updateDate="2015-12-01T23:40:43" nodeName="The Cone" urlName="the-cone" path="-1,1083,1089,1107,1108" isDoc="" nodeType="1093" creatorName="Duncan Fisher" writerName="Duncan Fisher" writerID="0" template="0" nodeTypeAlias="Beer">
          <countryOfOrigin><![CDATA[Scotland]]></countryOfOrigin>
          <image>1110</image>
          <brewer><![CDATA[Top Out]]></brewer>
          <fullName><![CDATA[The Cone]]></fullName>
          <rating><![CDATA[8]]></rating>
          <review><![CDATA[Floral & citrussy, with a complex flavour. Stronger than the average IPA yet the bitterness of the hops is subdued in favour of a supreme balance of overall flavour.

Purchased a bottle based on a bit of hype but I think this beer lives up to said hype. Surely one of the best IPAs I've tried.]]></review>
        </Beer>
      </CountryFolder>
    </Listing>
  </Home>
</root>