<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT BlogPostRepository ANY>
<!ATTLIST BlogPostRepository id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT LandingPage ANY>
<!ATTLIST LandingPage id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1063" key="3f4df73c-1b51-46d3-9160-9aa2f13ebb96" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-11-12T22:39:52" updateDate="2015-11-14T23:56:15" nodeName="Home" urlName="home" path="-1,1063" isDoc="" nodeType="1060" creatorName="Duncan Fisher" writerName="Duncan Fisher" writerID="0" template="1056" nodeTypeAlias="Home">
    <siteTitle><![CDATA[Fanoe - Umbraco Starter Kit]]></siteTitle>
    <siteLogo><![CDATA[/media/1042/logo.jpg]]></siteLogo>
    <siteDescription><![CDATA[This is an official Umbraco Starter kit. It shows of the newest features in Umbraco and is the perfect place to start for newcomers.. Everything is made to be taken apart. It's your own little playground. Enjoy!]]></siteDescription>
    <headingPart2><![CDATA[an]]></headingPart2>
    <headingPart1><![CDATA[drunk]]></headingPart1>
    <headingPart3><![CDATA[.com]]></headingPart3>
    <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Banner",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "banner_headline",
                "banner_tagline"
              ],
              "config": {},
              "styles": {
                "margin-bottom": "60px"
              },
              "controls": [
                {
                  "value": "Welcome to Fanoe",
                  "editor": {
                    "alias": "banner_headline"
                  }
                },
                {
                  "value": "This is the new default starter kit for Umbraco, we enjoy building things that not only look great, but also work great.",
                  "editor": {
                    "alias": "banner_tagline"
                  }
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "controls": [
                {
                  "value": "<h2>The starter kit</h2>\n<p>Congratulations on getting up and running with the “Fanoe” starter kit. It's a great way to get to know the Grid datatype.</p>\n<p><a href=\"/{localLink:1078}\" title=\"The starter kit\">Learn about the starter kit →</a><a href=\"/{localLink:1078}\" title=\"The Starterkit\"><br /></a></p>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "controls": [
                {
                  "value": "<h2>Learn the basics</h2>\n<p>To get started on the right foot make sure to check out our documentation - from tutorials to API reference.</p>\n<p><a href=\"/{localLink:1079}\" title=\"Basics\">Off to the docs →</a></p>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "controls": [
                {
                  "value": "<h2>Master classes</h2>\n<p>The best way to learn Umbraco is through the Master classes that’s running every month in most regions.</p>\n<p><a href=\"/{localLink:1080}\" title=\"Masterclasses\">Learn about the masterclasses →</a></p>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "styles": {
            "background-image": "url(/media/1044/14441035391_7ee1d0d166_h_darken.jpg)"
          },
          "config": {
            "class": "dark"
          },
          "id": "d28a05da-2404-c1e7-6265-01b07fc5f722"
        },
        {
          "name": "Two column",
          "areas": [
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "controls": [
                {
                  "value": "<h1>Umbraco Forms</h1>\n<p>With our add-on product Umbraco Forms it’s a breeze to create any type of form you can imagine.</p>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            },
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "controls": [
                {
                  "value": "<h1>Package repository</h1>\n<p>At Our Umbraco you’ll find hundreds of free packages made and maintained by the community.</p>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "styles": {
            "background-image": "url(/media/1023/form-bg.png)"
          },
          "config": {
            "class": "light"
          },
          "id": "5362ea7d-e729-078b-e717-a1e7aa69fd4b"
        },
        {
          "name": "Full width image",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media_wide_cropped",
                "media_wide"
              ],
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1127,
                    "image": "/media/1046/14386124825_d43f359900_h_cropped.jpg"
                  },
                  "editor": {
                    "alias": "media_wide"
                  }
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "full triangle"
          },
          "id": "953b3802-6b4f-20ed-66f9-9a855e9afdd4"
        },
        {
          "name": "Two column",
          "areas": [
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "controls": [
                {
                  "value": "<h2>Sharing is caring</h2>\n<p>Our Umbraco is our community hub, bringing together over a hundred thousand people every month sharing knowledge in the forum, documentation, blogs, packages and much more.</p>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            },
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "controls": [
                {
                  "value": "<h2>Born global, loving local</h2>\n<p>If you can’t make it to CodeGarden, that doesn’t mean you have to miss the chance of hanging out with the Umbraco community. You can do just that through the many local user groups and meetups</p>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "purple"
          },
          "id": "29cac0ff-d8e9-605b-9e7b-6809dce55edd"
        },
        {
          "name": "Banner",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "banner_headline",
                "banner_tagline"
              ],
              "controls": [
                {
                  "value": "<h1 style=\"text-align: center;\">CodeGarden</h1>\n<h5 style=\"text-align: center;\">Every year in June, around 500 Umbracians gather in Denmark for our annual conference “CodeGarden”.</h5>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "controls": []
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "controls": []
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "controls": []
            }
          ],
          "styles": {
            "background-image": "url(/media/1028/14435732345_c9f5b48dfa_h_dark.jpg)"
          },
          "config": {
            "class": "dark"
          },
          "id": "0093bd05-735a-9623-8509-28085818745c"
        }
      ]
    }
  ]
}]]></content>
  </Home>
</root>