.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

body {
    position: relative;
    height: 100vh;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
}

body.no-scroll {
    overflow: hidden;    
}

h2 {
    margin-bottom: 10px;
    font-size: 200%;
}

h3 {   
    margin-bottom: 6px;
    font-size: 120%;  
}

a {
    text-decoration: none;
}

nav {
    /*position: fixed;*/
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    background-color: black;
}

nav span.mobile {
    display: none;
}

nav a {
    margin-right: 20px;
    color: white;
}

nav .buttons-wrapper {
    float: right;
}

nav .buttons-wrapper button {
    width: 90px;
    background-color: white;
    cursor: pointer;
}

nav .buttons-wrapper i {
    padding-left: 10px;
}
			
#overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#overlay.visible {
    display: block;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#brand {
	position: absolute;
	right: 8%;
	top: 34%;
	font-family: arial, sans-serif;
	font-size: 300%;
	letter-spacing: 8px;
}
			
#dunk {
	color: red;
}
			
#fisher {
	color: blue;
}

#map, #listing-wrapper {
    height: calc(100vh - 40px);
    padding: 8px 0 0 8px;
}

#filterOptions, #searchOptions {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    padding: 10px;
    border: 2px solid black;
    border-top-width: 0;
    background-color: white;
    z-index: 1;
}

#filterOptions.visible, #searchOptions.visible {
    display: block;  
}

#loading-indicator {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 20px;
    margin-left: -100px;
    margin-top: -10px;
}

#listing-wrapper {
    height: auto;
}

#listing-wrapper li {
    float: left;
    width: calc(100% / 7);    
}

#listing-wrapper .summary-wrapper {
    position: relative;
    height: 232px;
    margin: 0 8px 8px 0;
    /*padding: 8px;*/   
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
    cursor: pointer;    
}

#listing-wrapper .summary-wrapper .inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;    
    background-color: rgba(0, 0, 0, 0.8);
}

#listing-wrapper .summary-wrapper .header {
    /*margin-bottom: 6px;*/
    height: 14%;
}

#listing-wrapper .summary-wrapper .inner:hover {    
    background-color: rgba(0, 0, 0, 0.5);
}

#listing-wrapper .summary-content {
    height: 160px;
    padding: 10px;
}

#listing-wrapper img {
    width: 200px;
}

#listing-wrapper .beer-image-taken {
    color: white;
}

#listing-wrapper .beer-country-flag {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 14px;
}

h2.beer-brewer, h2.beer-name {
    width: 100%;
    height: 40%;
    overflow: hidden;
    margin-bottom: 0;
    word-wrap: break-word;
    /*text-overflow: ellipsis;*/
    font-size: 1.8em;
}

h2.beer-brewer {
    color: #CD5B45;
}

h2.beer-name {
    color: #318CE7;
}

.inner:hover h2.beer-brewer,
.inner:hover h2.beer-name {
    color: white;
}

#beer-detail-wrapper {
    position: fixed;
    top: 60px;
    bottom: 60px;
    left: calc(50% - 400px);
    right: calc(50% - 400px);
    max-width: 760px;
    padding: 20px;
    background-color: white;
    z-index: 1;
    transform: scale(0);
    /*-webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    transition: transform, 1s;
    -webkit-transition: -webkit-transform, 1s;
    -moz-transition: -moz-transform, 1s;*/
}

#beer-detail-wrapper.visible {
    transform: scale(1);
    /*-webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);*/
}

#beer-detail-wrapper .top {
    border-bottom: 1px solid black;
}

#beer-detail-wrapper .close {    
    float: right;
    font-weight: bold;
    cursor: pointer;        
}

#beer-detail-wrapper .main {
    position: relative; /* Fix iOS issue. */
    height: calc(100vh - 161px);
    overflow: auto;
}

#beer-detail-wrapper table {
    table-layout: fixed;
    width: 50%;
    margin: 10px 0;
}

#beer-detail-wrapper h2,
#beer-detail-wrapper h3 {
    text-align: center;
}

#beer-detail-wrapper h3 {
    margin-bottom: 10px;
}

#beer-detail-wrapper th {
    width: 30%;
}

#beer-detail-wrapper td {
    width: 70%;
}

#beer-detail-wrapper th {
    padding: 0 4px 4px 0;
    text-align: left;
    font-weight: bold;
}

#beer-detail-wrapper td {
    padding-bottom: 4px;
}

#beer-country-flag {
    margin-left: 10px;
}

#beer-review {
    float: left;
    width: 50%;
    margin: 10px 0;
    font-style: italic;
}

#beer-image {
    float: right;
    width: 45%;
    margin-top: 10px;
}

@media(max-width: 1200px) {
    #listing-wrapper li {
        width: calc(100% / 6);
    }
}

@media(max-width: 1000px) {
    #listing-wrapper li {
        width: calc(100% / 5);
    }
}

@media(max-width: 800px) {
    nav span:first-child {
        display: none;
    }

    nav span.mobile {
        display: inline;
    }

    #listing-wrapper li {
        width: calc(100% / 4);
    }

    #beer-detail-wrapper {
        left: 20px;
        right: 20px;
    }

    #beer-review {
        float: none;
        width: 100%;
    }
}

@media(max-width: 600px) {
    #listing-wrapper li {
        width: calc(100% / 3);
    }

    #beer-detail-wrapper {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #beer-detail-wrapper .main {
        height: calc(100vh - 121px);
    }

    #beer-image {
        display: block;
        float: none;
        width: 100%;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    #beer-detail-wrapper table {
        width: 100%;
    }
}

@media(max-width: 500px) {
    #listing-wrapper li {
        width: 50%;
    }    
}